@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');

body {
color: #f0faf9;
background-color: #1a060d;
font-family: 'Zen Kaku Gothic Antique', sans-serif;
font-size: 20.5px;
text-align: center;
}

.buttongreen {
  border-bottom: 4px solid #557d68;
  display: block;
  border-radius: 10px;
  padding: 20px;
  text-decoration: none;
  background: #95e6bc;
  margin: 35px;
}

.buttonred {
  border-bottom: 4px solid #770021;
  display: block;
  border-radius: 10px;
  padding: 20px;
  text-decoration: none;
  background: #ea7085;
  margin: 35px;
}

.buttonblue {
  border-bottom: 4px solid #0c6f94;
  display: block;
  border-radius: 10px;
  padding: 20px;
  text-decoration: none;
  background: #67b8f3;
  margin: 35px;
}