@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');
    
body {
  color: #f0faf9;
  background-color: #1a060d;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-size: 20.5px;
  text-align: center;
}

h1, h2, h3 {
  text-shadow: 0 3px 0 #888, 0 4px 0 #888;
}

a {
  text-decoration: none;
}

button {
  border: none;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-weight: bold;
  border-radius: 10px;
  padding: 20px;
  margin: 7.5px;
  font-size: 18px;
}

button:hover {
  border-bottom: 0px;
}

.btngreen {
  border-bottom: 4px solid #057e29;
  background: #0af55c;
}

.btnred {
  border-bottom: 4px solid #76010a;
  background: #ff596a;
}

.btnblue {
  border-bottom: 4px solid #0c6f94;
  background: #67b8f3;
}

.btnyellow {
  border-bottom: 4px solid #937c00;
  background: #fdca1a;
}

.btnpurple {
  border-bottom: 4px solid #690f91;
  background: #c25bee;
}

.btnwhite {
  border-bottom: 4px solid #708d87;
  background: #f3f5f5;
}

.btnpink {
  border-bottom: 4px solid #770059;
  background: #ff3eca;
}