@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');

body {
color: #f0faf9;
background-color: #1a060d;
font-family: 'Zen Kaku Gothic Antique', sans-serif;
font-size: 20.5px;
text-align: center;
}

.buttongreen {
  border-bottom: 4px solid #057e29;
  display: block;
  border-radius: 10px;
  padding: 20px;
  text-decoration: none;
  background: #0af55c;
  margin: 35px;
}

.buttonred {
  border-bottom: 4px solid #76010a;
  display: block;
  border-radius: 10px;
  padding: 20px;
  text-decoration: none;
  background: #ff596a;
  margin: 35px;
}

.buttonblue {
  border-bottom: 4px solid #0c6f94;
  display: block;
  border-radius: 10px;
  padding: 20px;
  text-decoration: none;
  background: #67b8f3;
  margin: 35px;
}

.buttonyellow {
  border-bottom: 4px solid #937c00;
  display: block;
  border-radius: 10px;
  padding: 20px;
  text-decoration: none;
  background: #fdca1a;
  margin: 35px;
}

.buttonpurple {
  border-bottom: 4px solid #690f91;
  display: block;
  border-radius: 10px;
  padding: 20px;
  text-decoration: none;
  background: #c25bee;
  margin: 35px;
}

.buttonwhite {
  border-bottom: 4px solid #708d87;
  display: block;
  border-radius: 10px;
  padding: 20px;
  text-decoration: none;
  background: #f3f5f5;
  margin: 35px;
}

.buttonpink {
  border-bottom: 4px solid #770059;
  display: block;
  border-radius: 10px;
  padding: 20px;
  text-decoration: none;
  background: #ff3eca;
  margin: 35px;
}
